.nbsales-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

.nbsales-sales-title {
    color: #676FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.nbsales-form-control {
    height: 46px;
    background-color: #1B2531;
    border: 1px #384459;
    border-radius: 5px;
    width: 100%;
    color: #9AAABE;
    padding: 0 20px;
    font-size: 18px; 
}

.nbsales-form-control-container {
    margin-bottom: 16px;
    max-width: 300px;
}

.nbsales-sales-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.nbsales-sales-table thead {
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700;
}

.nbsales-sales-table tbody {
    font-size: 14px;
    font-weight: 400px;
    color: #CFCFCF;
    text-align: center;
}

.nbsales-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5f6e82;
}

.nbsales-sales-table tbody tr:nth-child(odd) {
    background-color: #242C3B;
}

.nbsales-sales-table tbody tr:hover > td {
    background-color: #384459;
}

.nbsales-red-btn {
    height: 45px;
    width: 45px;
    background: rgba(255,107,114,0.1);
    border: 1px solid #ff6b72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nbsales-red-btn img {
    width: 19px;
}

.nbsales-red-btn-container {
    display: flex;
    justify-content: center;
}

.show576 {
    display: none;
}

.show992 {
    display: none;
}

@media (min-width: 576px) {
    .show576 {
        display: table-cell;
    }

    .nbsales-card {
        padding: 35px;
    }

    .nbsales-sales-table tbody tr {
        height: 55px;
    }

    .nbsales-sales-table tbody {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .show992 {
        display: table-cell;
    }
}